/* Helpers */
.guide-hidden {
  display: none;
}

.guide-pointer {
  cursor: pointer;
}

.guide-block {
  display: block;
}

.guide-overflow-hidden {
  overflow: hidden;
}

.guide-transparent {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.guide-not-padding-sides {
  padding-left: 0;
  padding-right: 0;
}

.guide-pad-top-12 {
  padding-top: 12px;
}

.guide-pad-top-24 {
  padding-top: 24px;
}

.guide-pad-top-36 {
  padding-top: 36px;
}

.guide-pad-top-48 {
  padding-top: 48px;
}

.guide-pad-top-60 {
  padding-top: 60px;
}

.guide-pad-bottom-12 {
  padding-bottom: 12px;
}

.guide-pad-bottom-24 {
  padding-bottom: 24px;
}

.guide-pad-bottom-36 {
  padding-bottom: 36px;
}

.guide-pad-bottom-48 {
  padding-bottom: 48px;
}

.guide-pad-bottom-60 {
  padding-bottom: 60px;
}

.guide-pad-both-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.guide-pad-both-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.guide-pad-both-36 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.guide-pad-both-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.guide-pad-both-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.guide-mg-sides-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.guide-mg-top-12 {
  margin-top: 12px;
}

.guide-mg-top-24 {
  margin-top: 24px;
}

.guide-mg-top-36 {
  margin-top: 36px;
}

.guide-mg-top-48 {
  margin-top: 48px;
}

.guide-mg-top-60 {
  margin-top: 60px;
}

.guide-mg-bottom-12 {
  margin-bottom: 12px;
}

.guide-mg-bottom-24 {
  margin-bottom: 24px;
}

.guide-mg-bottom-36 {
  margin-bottom: 36px;
}

.guide-mg-bottom-48 {
  margin-bottom: 48px;
}

.guide-mg-bottom-60 {
  margin-bottom: 60px;
}

.guide-mg-both-12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.guide-mg-both-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.guide-mg-both-36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.guide-mg-both-48 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.guide-mg-both-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}
