.guide-color-primary {
  color: btn-primary-color;
}

.guide-color-secondary {
  color: $secondary-color;
}

/* Brancos */
.guide-color-white {
  color: #ffffff;
}

/* Pretos */
.guide-color-black {
  color: #000000;
}

/* Cinzas */
.guide-color-gray-lighter {
  color: #f4f4f6;
}

.guide-color-gray-light {
  color: #e8e9ec;
}

.guide-color-gray {
  color: #d2d4da;
}

.guide-color-gray-dark {
  color: #a5aab6;
}

.guide-color-gray-darker {
  color: #4d4e53;
}

/* Vermelhos */
.guide-color-red-light {
  color: #e20934;
}

.guide-color-red {
  color: #cc092f;
}

.guide-color-red-dark {
  color: #99000f;
}

/* Azuis */
.guide-color-blue-light {
  color: #0e81ed;
}

.guide-color-blue {
  color: #0b67bd;
}

.guide-color-blue-dark {
  color: #2365a7;
}

/* Verdes Alerta */
.guide-color-green-success {
  color: #11c25c;
}

/* Amarelos Alerta */
.guide-color-yellow-warning {
  color: #ffbc00;
}

/* Amarelos Acessibilidade */
.guide-color-yellow-contrast {
  color: #fff000;
}

/* Brancos */
.guide-background-white {
  background-color: #ffffff;
}

/* Pretos */
.guide-background-black {
  background-color: #000000;
}

/* Cinzas */
.guide-background-gray-lighter {
  background-color: #f4f4f6;
}

.guide-background-gray-light {
  background-color: #e8e9ec;
}

.guide-background-gray {
  background-color: #d2d4da;
}

.guide-background-gray-dark {
  background-color: #a5aab6;
}

.guide-background-gray-darker {
  background-color: #4d4e53;
}

/* Vermelhos */
.guide-background-red-light {
  background-color: #e20934;
}

.guide-background-red {
  background-color: #cc092f;
}

.guide-background-red-dark {
  background-color: #99000f;
}

/* Azuis */
.guide-background-blue-light {
  background-color: #0e81ed;
}

.guide-background-blue {
  background-color: #0b67bd;
}

.guide-background-blue-dark {
  background-color: #2365a7;
}

/* Verdes Alerta */
.guide-background-green-success {
  background-color: #11c25c;
}

/* Amarelos Alerta */
.guide-background-yellow-warning {
  background-color: #ffbc00;
}

/* Amarelos Acessibilidade */
.guide-background-yellow-contrast {
  background-color: #fff000;
}
