<div class="card-body">
  <div
    class="chart-container d-flex h-100 align-items-center justify-content-center"
    style="position: relative;"
  >
    <canvas id="chart-doughnut" style="height:100%"></canvas>
  </div>
</div>
<div class="card-footer">
  <div class="legend d-flex just">
    <div class="flex-fill text-center">
      <span
        class="d-inline-block rounded-circle mr-2"
        style="background: #36a2eb;"
      ></span
      ><small>Pagos</small>
    </div>

    <div class="flex-fill text-center">
      <span
        class="d-inline-block rounded-circle mr-2"
        style="background: #ff9090;"
      ></span
      ><small>Não Pagos</small>
    </div>
  </div>
</div>
