<div class="container-fluid">
  <div class="guide-row pt-4">
    <div class="guide-col-md-12 guide-text-center mb-2">
      <small>
        <i class="fa fa-terminal" aria-hidden="true"></i>
        © 2020
        <span class="text-secondary font-weight-bold">Kauã Semenov </span>
      </small>
    </div>
    <div class="guide-col-md-12 guide-text-center mb-4">
      <a
        href="https://github.com/kauagvs"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"
        ><i class="fab fa-github"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/kauaSemenov/"
        target="_blank"
        class="btn btn-sm bg-light text-dark shadow-sm rounded-circle text-light m-2"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </div>
  </div>
</div>
