$primary-color: #017ceb;
$primary-color-before: #145eb3;
$secondary-color: linear-gradient(to bottom, #0e81ed 70%, #2365a7 140%);
$secondary-color-before: #2365a7;

$navbar-height: 60px;
$sidebar-width: 260px;
$sidebar-pinned-wdth: 70px;

$bg-color: #ffffff;
$navbar-bg-color: #ffffff;
$navbar-color: #017ceb;
$sidebar-bg-color: #fff;
$sidebar-color: #017ceb;
$sidebar-icon-color: #c4cff9;
$border-color: #f2f3f8;

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
